.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2a2a2a;
    padding: 16px 2%;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #dbdbdb;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    color: #dbdbdb;
    font-size:18px;
}
.navbar li{
    cursor: pointer;
}
